<link rel="stylesheet" href="styles/list.css">
<link rel="stylesheet" href="styles/navbar.css">
<link rel="stylesheet" href="styles/search.css">

<div class="container" ng-controller="ListeCtrl" >
  <div class="container">
    <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div id="imaginary_container">
                  <div class="input-group stylish-input-group">
                      <input type="text" class="form-control" ng-model="searchString" placeholder="Search" >
                      <span class="input-group-addon">
                          <button type="submit">
                              <span class="glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
    </div>
  </div>

  <br>

  <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-success">
          <div class="panel-heading">Ma liste de moustiques !</div>
      </div>
    </div>
<div class="row">

  <div class="col-md-3" ng-repeat="x in liste | searchFor:searchString">
        <div class="panel widget">
          <div class="widget-header bg-primary"></div>
          <div class="widget-body text-center">
            <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="https://bootdey.com/img/Content/avatar/avatar1.png">
            <h4 class="mar-no">{{x.name}}</h4>
            <p class="text-muted mar-btm">{{x.email}}</p>

            <div class="pad-ver">
              <button type="button" name="view" ng-click="getUser(x.id)" class="btn btn-primary">View</button>
            </div>
          </div>
        </div>
      </div>

</div>

</div>
